<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <title>メモアプリ</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-inner">
          <h1 class="header-title"><a href="/" class="brand">メモアプリ</a></h1>
        </div>
      </header>
      <main>
        <article>
          <%= yield %>
        </article>
      </main>
    </div>
  </body>
</html>