<form method="post" action="/memos">
  <div>
    <input type= "text" name="title">
  </div>
  <div>
    <input type= "text" name="content">
  </div>
  <div>
    <input type= "submit" value="保存">
  </div>
</form>
<a href="/">戻る</a>